@page "/cards"

<Card Title="Card title">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
</Card>

<Card>
    This is some text within a card body.
</Card>

<Card Title="Featured">
    <Body>
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text"> This is some text within a card body.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </Body>
</Card>

<Card Title="Special title treatment">
    <Body>
        <p class="card-text"> This is some text within a card body.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </Body>
    <Footer>
        2 days ago
    </Footer>
</Card>